@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Open+Sans&display=swap');
html, body, *{
    font-size: 62.5%;
    background-color: #ffffff;
    color: #111111;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
}
h1{
    font-size: 7.5rem;
}
h2{
    font-size: 3rem;
}
a{
    font-size: 2rem;
}
#header{
    font-family: 'Open Sans', sans-serif;
    padding: 1.1rem 0rem 0rem 0rem;
    text-align: left;
    background: #0d0d0d;
    color: #ffffff;
    height: 4.45rem;
    font-size: 2.4rem;
}
.title{
    padding: 4rem 0rem 4rem 0rem;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 200px;
}

/*
I GIVE UP!!!!
CHILD CSS IS NOT OVERRIDING PARENT CSS, WITH SOME EXCEPTIONS

FOR EXAMPLE. LINKS (a) DO NOT ADOPT FONT SIZE OF .menu BUT INSTEAD WHATS IN html,body*.
FOR EXAMPLE. background:red; IN #header DOES NOT WORK WITH TEXT (h1, p, ul) UNLESS ID IS IN ELEMENT NOT DIV

okay i figured it out. It's bc my font-size was in 10px instead of 62.5%
so, while 10px works with ems, it broke other stuff. !??!!?? I think it might be because font-size's units cant be the same as the ones in html? But that would be really bad design idk

Never mind! While it fixed which font size that "a" in parent title looks for, it still doesnt fix the fact that putting id=header in div BREAKS it
*/

