@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Yaldevi&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Yaldevi', sans-serif;
    font-size: 62.5%;
    background-color: #111111;
    color: white;
    width: 100%;
}
html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page {
    display: block;
    margin: auto;
    width: 60vw;
    background-color: #1C1C1C;
}
.top {
    margin: auto;
    display: block;
    width: 69.9em;
}
.title {
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'PT Sans';
    background-color: #BB000E;
}
.one {
    width: 100%;
    display: block;
    margin: auto;
}
.character {
    background-color: #BB000E;
    margin: 3rem;
}
.pic {
    width: 23.25em;
}
.caption {
    text-align: center;
    background-color: #E31C25;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
